---
import {Image} from "astro:assets";

interface Item {
    title: string;
    description: string;
    icon?: string;
    logo?: boolean;
    imageURL?: string;
}

export interface Props {
    title?: string;
    subtitle?: string | null;
    highlight?: string | null;
    items: Array<Array<Item>>;
}

const {
    title = await Astro.slots.render("title"),
    subtitle = await Astro.slots.render("subtitle"),
    highlight,
    items = [],
} = Astro.props;
---

<section class="scroll-mt-16" id="features">
    <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
        {
            (title || subtitle || highlight) && (
                        <div class="mb-10 md:mx-auto text-center md:mb-12 max-w-3xl">
                            {highlight && (
                                    <p
                                            class="text-base text-primary dark:text-orange-500 mb-4 font-semibold tracking-wide uppercase"
                                            set:html={highlight}
                                    />
                            )}
                            {title && (
                                    <h2
                                            class="text-4xl md:text-5xl text-primary font-bold leading-tighter tracking-tighter mb-4 font-heading"
                                            set:html={title}
                                    />
                            )}

                            {subtitle && (
                                    <p
                                            class="max-w-3xl mx-auto sm:text-center text-xl text-slate-600 dark:text-gray-100"
                                            set:html={subtitle}
                                    />
                            )}
                        </div>
            )
        }
        <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
            {
                items.map((subitems) => (
                        <div class="space-y-8 sm:px-8">
                            {subitems.map(({title, description, icon, logo, imageURL}) => (
                                    <div class="flex flex-col justify-between max-w-md max-h-16 md:flex-row">
                                        <div class="flex flex-row items-center">
                                            <div class="mb-4 mr-4">
                                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary dark:bg-orange-500">
                                                    {icon && <i class={`${icon} text-white icon-light`}/>}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <h3 class="text-xl font-bold">{title}</h3>
                                                <p
                                                        class="text-muted dark:text-slate-400"
                                                        set:html={description}
                                                />
                                            </div>
                                        </div>
                                        {logo && imageURL && (
                                                <a
                                                        href="https://ikaradimas.gr"
                                                        target="_blank"
                                                        rel="noopener noreferrer"
                                                >
                                                    <Image
                                                            src={imageURL}
                                                            alt="Karadimas logo"
                                                            height="75"
                                                            width="150"
                                                            class="mx-auto lg:mr-12 2xl:mr-22 2xl:mt-1 feature-logo-img"
                                                            format="avif"
                                                    />
                                                </a>
                                        )}
                                    </div>
                            ))}
                        </div>
                ))
            }
        </div>
    </div>
</section>
