---
import { Icon } from "astro-icon";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
  class?: string;
}

const {
  class: classes = "",
  socialLinks = [],
  secondaryLinks = [],
  links = [],
  footNote = "",
  theme = "light",
} = Astro.props;
---

<footer
  class:list={[
    classes,
    { dark: theme === "dark" },
    "relative border-t border-gray-200 dark:border-slate-800",
    "bg-offwhite dark:bg-black",
    "px-4 py-3 md:px-8 md:py-6",
  ]}
>
  <div class="md:flex md:items-center md:justify-between">
    <div
      class="flex justify-between md:justify-start items-center space-x-2 md:space-x-4 mb-2 md:mb-4 mt-4 md:mt-0"
    >
      {
        socialLinks?.length ? (
          <ul class="flex space-x-2 md:space-x-4">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {icon && <Icon name={icon} class="w-7 h-7" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
            <li>
              <a
              class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-lg font-bold p-2.5 inline-flex items-center transition-transform transform hover:scale-105"                href="tel:+302108981423"
                aria-label="Contact us at 210 8981423"
              >
                <Icon name="mdi:telephone-outline" class="w-7 h-7 mr-2" />
                210 8981423
              </a>
            </li>
          </ul>
        ) : (
          ""
        )
      }
      <button
        class="p-2 rounded-md bg-gray-200 dark:bg-gray-800 hover:bg-gray-300 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700"
        onclick="window.scrollTo({top: 0, behavior: 'smooth'})"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 15l7-7 7 7"></path>
        </svg>
      </button>
    </div>

    <div class="text-sm text-center md:text-left pl-2 mt-4 md:mt-0">
      <Fragment set:html={footNote} />
    </div>
  </div>
</footer>
